/* TABLE OF CONTENTS

	1. Import section
	2. Basic styles
	3. BUTTONS
	4. HEADER
	5. SLIDER
	6. SERVICES
	8. PRICING
	9. ABOUT US
	11. TESTIMONIAL
	13. CONTACT
	15. FOOTER

*/

/* 1. IMPORT SECTION */

	@import url("http://fonts.googleapis.com/css?family=Raleway:200,300,600,700&subset=latin,latin-ext");

/* 2. BASIC STYLES */

	html, body {
		height: 100%;
	}

	body {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 200;
		line-height: 1.7857;
		letter-spacing: 0.075em;
		color: #049AFA;
		background-color: #fff;
	}

	a { 
		color: #000;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	a:hover {
		color: #000;
	}

	a, a:hover, a:active, a:focus, button:focus {
		outline: 0;
		border: 0;
		text-decoration: none;
	}

	p {
		line-height: 1.5;
	}

	h1, h2, h3, h4, h5, h6{
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}

	input, textarea{
		outline: none;
	}

	label{
		font-weight: 300;
	}

/* 3. BUTTONS */

	.btn-send{
		background-color: #383838;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 8px 14px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-send:hover{
		background-color: #000;
		color: #fff;
	}

/* 4. HEADER */

	#header{}

	#header .navbar {
		min-height: 80px;
		margin-bottom: 0;
		border-radius: 0;
		border-color: #049AFA;
		background-color: black;
	}

	.st-navbar{
		background-color: #fff;
		border-bottom: 1px solid #f0f0f0;
	}

	.st-navbar ul{
		margin-top: 15px;
	}

	.st-navbar ul li a{
		text-transform: uppercase;
		font-weight: 600;
		padding: 0;
		margin: 14px;
		color: #049AFA;
	}

	.st-navbar ul li a:hover,
	.st-navbar ul li a:focus {
		background-color: transparent;
		color: #049AFA;
	}

	.st-navbar .navbar-header{
		margin-top: 25px;
	}

	.st-navbar .navbar-toggle .icon-bar {
		background-color: #049AFA;

	}

	.st-navbar .navbar-toggle{
		margin-top: 7px;
		margin-right: 25px;
		padding: 0;
		border-radius: 0;
	}

/* 5. SLIDER */

	#wowbanner {
		font-size:100px;
		text-align:center;
		padding-top:25px;
		font-weight:500;
	}

	#slider{
		margin-top: 80px;
	}

	#home-carousel  .item {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
		height: 650px;
	}

	#home-carousel .item:before{
		background-color: #000;
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.5;
		position: absolute;
		width: 100%;
	}

	.carousel-caption {
		left: 15px;
		right: 15px;
		top: 50%;
		font-size: 15px;
		text-align: left;
		color: #fff;
		text-shadow: none;
		margin-top: -130px;	
	}

	.carousel-caption h1 {
		font-size:46px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
		font-weight:100;
		text-transform:lowercase;
	}

	.carousel-caption h2 {
		font-size:81px;
		font-weight:600;
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}

	.home-carousel-left, 
	.home-carousel-right {	
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.home-carousel-left {
		left:-32px;
	}

	.home-carousel-right {
		right:-32px;
	}

	#home-carousel:hover .home-carousel-left {
		left:0;
	}

	#home-carousel:hover .home-carousel-right {
		right:0;
	}
	/* Carousel animation */

	#home-carousel .item h1, 
	#home-carousel .item h2, 
	#home-carousel .item p {
		opacity:0;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}

	#home-carousel .item h1 {
		-webkit-transition: all 0.5s ease-in-out 0.15s;
		-moz-transition: all 0.5s ease-in-out 0.15s;
		-ms-transition: all 0.5s ease-in-out 0.15s;
		-o-transition: all 0.5s ease-in-out 0.15s;
		transition: all 0.5s ease-in-out 0.15s;
	}

	#home-carousel .item.active h1, 
	#home-carousel .item.active h2, 
	#home-carousel .item.active p {
		opacity:1;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	#home-carousel .item h2 {
		-webkit-transition: all 0.5s ease-in-out 0.30s;
		-moz-transition: all 0.5s ease-in-out 0.30s;
		-ms-transition: all 0.5s ease-in-out 0.30s;
		-o-transition: all 0.5s ease-in-out 0.30s;
		transition: all 0.5s ease-in-out 0.30s;
	}

	#home-carousel .item p {
		-webkit-transition: all 0.5s ease-in-out 0.45s;
		-moz-transition: all 0.5s ease-in-out 0.45s;
		-ms-transition: all 0.5s ease-in-out 0.45s;
		-o-transition: all 0.5s ease-in-out 0.45s;
		transition: all 0.5s ease-in-out 0.45s;
	}

/* 6. SERVICES */

	#about{
		background-color: black;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#about p {
		font-weight: bold;
	}

	#about h3 {
		text-decoration: underline;
		text-align: center;
	}

	.section-title{
		margin-bottom: 50px;
	}

	.section-title h1{
		margin-top: 0;
	}

/* 8. PRICING */
	
	#pricing{
		background-color: #black;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.st-pricing{
		background-color: #;
		padding: 40px;
		margin-top: 30px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.st-pricing:hover{
		box-shadow: 0px 0px 18px #ddd;
	}

	.st-pricing h5{
		margin-top: 0;
		margin-bottom: 25px;
	}

	.st-pricing h3{
		margin-top: 0;
		margin-bottom: 25px;
	}

	.st-pricing .st-border{
		width: 100%;
		margin-bottom: 15px;
		background-color: #ccc;
	}

	.st-pricing ul{
		list-style: none;
		padding: 0;
	}

	.st-pricing ul li{
		padding: 12px 0;
		font-size: 15px;
	}

	.st-pricing a.btn-send{
		text-transform: uppercase;
		margin-top: 20px;
		padding: 10px 25px;
	}

/* TESIMONIALS */
	
	#testimonials {
		padding-top: 100px;
		padding-bottom: 100px;
	}

/* 10. OUR TEAM */

	#our-team{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.team-member{
		margin-top: 30px;
	}

	.member-image{
		position: relative;
	}

	.member-info{
		background-color: #f5f5f5;
		padding: 15px;
	}

	.member-info h4{
		margin-top: 0;
		margin-bottom: 6px;
	}

	.member-info span{
		text-transform: uppercase;
	}

	.team-member .member-social{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		left: 0;
		top: 0;
		text-align: center;
		opacity: 0;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}

	.team-member:hover .member-social{
		opacity: 1;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.team-member .member-social a{
		position: relative;
		font-size: 16px;
		color: #fff;
		top: 47%;
	}

	.team-member:hover .member-social a{
		margin: 6px;
	}

/* 11. TESTIMONIAL */

	#testimonial{
		background-image: url(../images/arnold2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		padding-top: 100px;
		padding-bottom: 100px;
		position: relative;
	}

	.st-testimonials{
		color: #e0e0e0;
	}

	.st-testimonials .st-border{
		background-color: #e0e0e0;
		margin: 20px auto;
	}

	.st-testimonials p{
		font-style: italic;
	}

	.st-testimonials .client-info h5{
		margin-top: 0;
		margin-bottom: 5px;
	}

	.st-testimonials .client-info span{
		font-size: 12px;
		text-transform: uppercase;
	}

/* 13. CONTACT */

	#contact{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	
	.contact-info .contact-content{
		margin-bottom: 30px;
	}

	.contact-info p{
		margin-bottom: 20px;
	}

	.contact-info p i{
		font-size: 16px;
		margin-right: 10px;
	}

	.contact-form{}

	.contact-form input[type="text"],
	.contact-form input[type="email"]{
		border: 1px solid #E8E8E8;
		padding: 8px 14px;
		width: 100%;
		margin-bottom: 20px;
	}

	.contact-form textarea{
		border: 1px solid #E8E8E8;
		padding: 8px 14px;
		width: 100%;
		margin-bottom: 20px;
	}

/* 15. FOOTER */

	#footer{
		background-color: #262626;
		padding-top: 15px;
		padding-bottom: 15px;
		color: rgba(255, 255, 255, 0.4);
	}

	#footer a{
		color: rgba(255, 255, 255, 0.4);
	}
	#footer a:hover{
		color: #fff;
	}

	.footer-social-icons{
		text-align: right;
	}

	.footer-social-icons a{
		margin: 0 5px;
		font-size: 16px;
	}

	.footer-social-icons span{
		margin-right: 10px;
	}